/*LIGHT GALLERY CHANGES*/

.lg-next:before,
.lg-prev:after {
  font-family: swiper-icons !important;
  content: "next" !important;
  font-size: xx-large;
}
.lg-next:before {
  content: "next" !important;
}
.lg-prev:after {
  content: "prev" !important;
}

.lg-prev,
.lg-next {
  background-color: transparent !important;
}
@media (width >= 1024px) {
  .lg-prev,
  .lg-next {
    background-color: transparent !important;
  }
}

.lg-icon,
.lg-sub-html {
  color: var(--color-bb-light) !important;
  font-family: SuperGroteskWeb !important;
}

.lg-backdrop,
.lg-thumb-outer {
  background-color: var(--color-bb-charcoal) !important;
}

.lg-thumb-item {
  border-color: var(--color-bb-light) !important;
}
.lg-thumb-item.active {
  border-color: var(--color-bb-red) !important;
}
