/* Swiper 12 CSS imports */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --swiper-navigation-size: 2rem;
}

.swiper-pagination-bullet {
  border: 2px solid var(--color-bb-charcoal);
  background: var(--color-bb-lighter);
  width: 13px;
  height: 13px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  pointer-events: visible;
}
