/* Vue Toastification Styles */
@import "vue-toastification/dist/index.css";

.Vue-Toastification__container.top-right.bb-toast {
  top: 5em;
}

.Vue-Toastification__toast--default {
  background-color: var(--color-bb-charcoal);
  color: var(--color-bb-light);
  border: 1px solid var(--color-bb-light);
}

.Vue-Toastification__toast--error {
  background-color: var(--color-bb-red);
}
