/* CHECKBOX */

[type="checkbox"] + label {
  position: absolute;
}
[type="checkbox"] {
  position: relative;
  left: 15px;
  top: -4px;
  z-index: 0;
  -webkit-appearance: none;
}
[type="checkbox"] + label::before {
  width: 18px;
  height: 18px;
  background-color: var(--color-bb-charcoal);
  border: 1px solid var(--color-bb-lighter);
  display: block;
  border-radius: 5px;
  content: "";
  float: left;
  margin-right: 10px;
  margin-bottom: 2rem;
  z-index: 5;
  position: relative;
}
[type="checkbox"]:checked + label::before {
  box-shadow: inset 0px 0px 0px 5px var(--color-bb-charcoal);
  background-color: var(--color-bb-lighter);
}
/* END CHECKBOX*/
