/*LIGHT GALLERY CHANGES*/

.lg-prev,
.lg-next {
  background-color: transparent !important;
}
@media (width >= 1024px) {
  .lg-prev,
  .lg-next {
    background-color: transparent !important;
  }
}

.lg-icon,
.lg-sub-html {
  color: var(--color-bb-light) !important;
  font-family: SuperGroteskWeb !important;
}

/* Keep lg icon font for navigation arrows */
.lg-prev::after,
.lg-next::before {
  font-family: 'lg' !important;
}

.lg-backdrop,
.lg-thumb-outer {
  background-color: var(--color-bb-charcoal) !important;
}

.lg-thumb-item {
  border-color: var(--color-bb-light) !important;
}
.lg-thumb-item.active {
  border-color: var(--color-bb-red) !important;
}
