.pattern-bg {
  --pattern-gradient: radial-gradient(
    closest-side,
    transparent 0%,
    transparent 75%,
    var(--color-pattern-1) 76%,
    var(--color-pattern-2) 85%,
    var(--color-pattern-3) 86%,
    var(--color-pattern-4) 94%,
    var(--color-pattern-5) 95%,
    var(--color-pattern-5) 103%,
    var(--color-pattern-6) 104%,
    var(--color-pattern-7) 112%,
    var(--color-pattern-6) 113%,
    var(--color-pattern-8) 121%,
    var(--color-pattern-5) 122%,
    var(--color-pattern-5) 130%,
    var(--color-pattern-9) 131%,
    var(--color-pattern-9) 140%
  );
  background-image: var(--pattern-gradient), var(--pattern-gradient);
  background-size: 60px 60px;
  background-color: var(--color-pattern-4);
  background-position: 0 0, 30px 30px;
  opacity: 0.05;

  box-shadow: inset 2rem 0 10rem -4rem var(--color-bg), inset -2rem 0 10rem -4rem var(--color-bg), inset 0 10rem 10rem -4rem var(--color-bg),
    inset 0 -16rem 10rem -5rem var(--color-bg);
  z-index: -1;
}
@media (width >= 1024px) {
  .pattern-bg {
    box-shadow: inset 8rem 0 10rem -5rem var(--color-bg), inset -8rem 0 10rem -5rem var(--color-bg), inset 0 12rem 10rem -5rem var(--color-bg),
      inset 0 -16rem 10rem -5rem var(--color-bg);
    background-size: 110px 110px;
    background-position: 0 0, 55px 55px;
  }
}

.dark .pattern-bg {
  opacity: 0.035;
  box-shadow: inset 2rem 0 10rem -4rem var(--color-bg), inset -2rem 0 10rem -4rem var(--color-bg), inset 0 10rem 10rem -4rem var(--color-bg),
    inset 0 -16rem 10rem -5rem var(--color-bg);
}
@media (width >= 1024px) {
  .dark .pattern-bg {
    box-shadow: inset 8rem 0 10rem -5rem var(--color-bg), inset -8rem 0 10rem -5rem var(--color-bg), inset 0 12rem 10rem -5rem var(--color-bg),
      inset 0 -16rem 10rem -5rem var(--color-bg);
  }
}
