/* Swiper 12 CSS imports */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --swiper-navigation-size: 1.5rem;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 8px;
  --swiper-navigation-color: var(--color-bb-lighter);
  --swiper-theme-color: var(--color-bb-lighter);
}

.swiper-pagination-bullet {
  border: 2px solid var(--color-bb-charcoal);
  background: var(--color-bb-lighter);
  width: 13px;
  height: 13px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  pointer-events: visible;
}
